<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    byType- check for type of constructor,byName - check by name of the class  -->
    <bean id="dev" class="org.linus.Dev" autowire="byName">
<!--        <property name="age" value="12" />-->
<!--        <property name="laptop" ref="lap1" />-->
<!--        <constructor-arg ref="lap1" />-->
<!--        <constructor-arg value="12" />-->
    </bean>

    <bean id="com" class="org.linus.Desktop">
    </bean>
    <bean id="lap" class="org.linus.laptop">
    </bean>

</beans>